body{
    background-color: black;
    color: white;
}
.signup, .login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.signup #forgotten-password, .login #forgotten-password{
    padding-bottom: 10px;
}
.signup #color, .login #color{
    background-color: black;
    color: white;
    filter: drop-shadow(5px 5px 5px grey);
}
.signup #color:hover, .login #color:hover{
    background-color: black;
    filter: drop-shadow(5px 5px 5px rgb(62, 61, 61));
}

Button:hover{
    background-color: grey;
    color: black;
}
.signup #google, .login #google{
    background-color: gray;
}

Input{
    margin-bottom: 15px;
}

h1{
    font-size: 5rem;
    text-align: center;
}

.create{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.color:hover{
    background-color: black;
}

.instructions{
    font-weight: bolder;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

marquee{
    margin-top: 50px;
    font-size: 2rem;
}